@model  IEnumerable<AirBnB_Clone_project.Models.Rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderSection("Product", false)
<div class="menu">
    <div class="grid wide">
        <div class="menu__container row">
            <div class="menu-left col l-9 m-12 c-12">
                @foreach (var menu in Model)
                {
                    <a href="#" class="menu__box ">
                        <img src="@Url.Content(menu.Images_Cate)" style="width:26px" alt="" class="menu__img">
                        <h4 class="menu__header">@Html.DisplayFor(x => menu.Name_Cate)</h4>
                        <div class="menu__box-border-bt"></div>
                    </a>
                }


            </div>
            <div class="menu-right col l-3 m-0 c-0">
                <div class="menu-right__box navbar__box">
                    <p class="menu__content">Hiển thị tổng trước thuế</p>
                    <input type="checkbox" id="checkboxInput">
                    <label for="checkboxInput" class="toggleSwitch">
                    </label>
                </div>
            </div>
        </div> 
    </div>
</div>